{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">


        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'add-new-user-data' %}">New User</a></li>
                <li class="breadcrumb-item active"><a href="#">User List</a></li>
            </ol>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Profile Datatable</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example3" class="display min-w850">
                            <thead>
                            <tr>
                                <th></th>
                                <th>SL.</th>
                                <th>Name</th>
                                <th>NID/Birth Certificate Number</th>
                                <th>Area/Village</th>
                                <th>Date Of Birth</th>
                                <th>Created by</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in user_data %}
                            <tr>
                                {% if item.user_image %}
                                <td><img class="rounded-circle" width="35" src="{{item.user_image.url}}" alt=""></td>
                                {% else %}
                                <td><img class="rounded-circle" width="35" src="{% static 'images/union_logo.png' %}"
                                         alt=""></td>
                                {% endif %}
                                <td>{{forloop.counter}}</td>
                                <td>{{item.name_en}}</td>
                                <td>{{item.nid_no}}</td>
                                <td>{{item.present_area_village_en}}</td>
                                <td><a href="javascript:void(0);"><strong
                                        class="text-black">{{item.date_of_birth}}</strong></a></td>
                                <td><a href="javascript:void(0);"><strong
                                        class="text-black">{{item.created_by}}</strong></a></td>
                                <td>{{item.created_at}}</td>
                                <td>
                                    <div class="d-flex">

                                        <a href="{% url 'user-profile' item.pk %}" class="btn btn-danger shadow btn-xs sharp mr-1"><i class="fa fa-eye"></i></a>
                                        <a href="{% url 'user-data-edit' item.pk %}"
                                           class="btn btn-primary shadow btn-xs sharp mr-1"><i
                                                class="fa fa-pencil"></i></a>
                                        <a href="#" class="btn btn-danger shadow btn-xs sharp mr-1"><i
                                                class="fa fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock content %}