{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<div class="content-body" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'user-data-list' %}">Profile List</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Profile</a></li>
            </ol>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="profile card card-body px-3 pt-3 pb-0">
                    <div class="profile-head">
                        <div class="photo-content">
                            <div class="cover-photo">

                            </div>
                        </div>
                        <div class="profile-info">
                            <div class="profile-photo">
                                {% if user_data.user_image %}
                                <img src="{{user_data.user_image.url}}" class="img-fluid rounded-circle" alt="">
                                {% else %}
                                <img src="{% static 'images/union_logo.png' %}" class="img-fluid rounded-circle" alt="">
                                {% endif %}

                            </div>
                            <div class="profile-details">
                                <div class="profile-name px-3 pt-2">
                                    <h4 class="text-primary mb-0">{{user_data.name_en}}</h4>
                                    <p>{{user_data.present_address_en}}</p>
                                </div>
                                <div class="profile-email px-2 pt-2">
                                    <h4 class="text-muted mb-0">{{user_data.nid_no}}</h4>
                                    <p>NID/Birth Reg No</p>
                                </div>
                                <div class="dropdown ml-auto">
                                    <a href="#" class="btn btn-primary light sharp" data-toggle="dropdown"
                                       aria-expanded="true">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px"
                                             viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <circle fill="#000000" cx="5" cy="12" r="2"></circle>
                                                <circle fill="#000000" cx="12" cy="12" r="2"></circle>
                                                <circle fill="#000000" cx="19" cy="12" r="2"></circle>
                                            </g>
                                        </svg>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-item"><i class="fa fa-user-circle text-primary mr-2"></i>
                                            View profile
                                        </li>
                                        <li class="dropdown-item"><i class="fa fa-users text-primary mr-2"></i> Add to
                                            close friends
                                        </li>
                                        <li class="dropdown-item"><i class="fa fa-plus text-primary mr-2"></i> Add to
                                            group
                                        </li>
                                        <li class="dropdown-item"><i class="fa fa-ban text-primary mr-2"></i> Block</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <div class="profile-statistics mb-5">
                            <div class="text-center">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="m-b-0">150</h5><span>Total Print</span>
                                    </div>
                                    <div class="col">
                                        <h5 class="m-b-0">18-04-2022</h5><span>Last Print</span>
                                    </div>
                                    <div class="col">
                                        <h5 class="m-b-0">45</h5><span>Order</span>
                                    </div>
                                </div>

                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="sendMessageModal">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Send Message</h5>
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span>&times;</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="comment-form">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="text-black font-w600">Name <span
                                                                    class="required">*</span></label>
                                                            <input type="text" class="form-control" value="Author"
                                                                   name="Author" placeholder="Author">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="text-black font-w600">Email <span
                                                                    class="required">*</span></label>
                                                            <input type="text" class="form-control" value="Email"
                                                                   placeholder="Email" name="Email">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label class="text-black font-w600">Comment</label>
                                                            <textarea rows="8" class="form-control" name="comment"
                                                                      placeholder="Comment"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group mb-0">
                                                            <input type="submit" value="Post Comment"
                                                                   class="submit btn btn-primary" name="submit">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="profile-blog">
                            <h4 class="text-primary d-inline">Print Certificate </h4>
                            <br>
                            <br>
                            {% for item in certificate%}
                            <div class="row mt-4">
                                <div class="col-sm-8">
                                    <p class="mb-0">{{item.name}}</p>

                                </div>
                                <div class="col-sm-4">
                                    <a href="{% url 'character-certificate' item.pk %}" class="btn btn-primary light btn-xs mb-1" >Print Now</a>

                                </div>

                            </div>
                            {% endfor %}


                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <div class="profile-tab">
                            <div class="custom-tab-1">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item"><a href="#info-en" data-toggle="tab"
                                                            class="nav-link active show">Info EN </a>
                                    </li>
                                    <li class="nav-item"><a href="#info-bn" data-toggle="tab" class="nav-link">Info
                                        BN</a>
                                    </li>
                                    <li class="nav-item"><a href="#family-info" data-toggle="tab" class="nav-link">Inheritance
                                        and family information</a>
                                    </li>
                                    <li class="nav-item"><a href="#income-info" data-toggle="tab" class="nav-link">Income
                                        information</a>
                                    </li>
                                </ul>
                                <div class="tab-content ">
                                    <div id="info-en" class="tab-pane fade active show ">
                                        <div class="my-post-content pt-3">
                                            <h4 class="text-primary mb-4 ">Personal Information</h4>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">Name<span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{user_data.name_en}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">Father Name<span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{user_data.care_of_name_en}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">Mother Name <span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{user_data.mother_name_en}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">Gender <span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{user_data.gender}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">Date Of Birth <span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{user_data.date_of_birth}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">Blood Group <span
                                                            class="pull-right">:</span></h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{user_data.blood_group}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">NID <span
                                                            class="pull-right">:</span></h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{user_data.nid_no}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">Birth Certificate<span
                                                            class="pull-right">:</span></h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{user_data.birth_reg_no}}</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="my-post-content pt-3">
                                            <h4 class="text-primary mb-4 ">Present Address</h4>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">Address <span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7">
                                                    <span>{{user_data.present_address_en}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">Area/Village Name <span
                                                            class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7">
                                                    <span>{{user_data.present_area_village_en}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">Police Station<span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{user_data.present_thana}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">Post Code <span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{user_data.present_post_code}}</span>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="my-post-content pt-3">
                                            <h4 class="text-primary mb-4 ">Permanent Address</h4>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">Address <span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7">
                                                    <span>{{user_data.permanent_address_en}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">Area/Village Name <span
                                                            class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{user_data.permanent_area_village_en}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">Post Office <span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7">
                                                    <span>{{user_data.permanent_post_office}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">Upazila Name <span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{user_data.permanent_thana}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">District Name <span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7">
                                                    <span>{{user_data.permanent_district}}</span>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                    <div id="info-bn" class="tab-pane fade">
                                        <div class="my-post-content pt-3">
                                            <h4 class="text-primary mb-4 ">ব্যক্তিগত তথ্য</h4>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">নাম<span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{user_data.name_bn}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">বাবার নাম<span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{user_data.care_of_name_bn}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">মায়ের নাম<span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{user_data.mother_name_bn}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">লিঙ্গ <span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{user_data.gender}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">জন্মদিন <span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{user_data.date_of_birth}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">রক্তের গ্রূপ <span
                                                            class="pull-right">:</span></h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{user_data.blood_group}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">জাতীয় পরিচয় নম্বর <span
                                                            class="pull-right">:</span></h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{user_data.nid_no}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">জন্ম সনদ <span
                                                            class="pull-right">:</span></h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{user_data.birth_reg_no}}</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="my-post-content pt-3">
                                            <h4 class="text-primary mb-4 ">বর্তমান ঠিকানা</h4>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">ঠিকানা <span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7">
                                                    <span>{{user_data.present_address_bn}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">অঞ্চল বা গ্রামের নাম <span
                                                            class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7">
                                                    <span>{{user_data.present_area_village_bn}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">থানার নাম<span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7">
                                                    <span>{{user_data.present_thana.name_bn}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">পোস্ট কোড <span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{user_data.present_post_code}}</span>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="my-post-content pt-3">
                                            <h4 class="text-primary mb-4 ">স্থায়ী ঠিকানা</h4>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">ঠিকানা <span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7">
                                                    <span>{{user_data.permanent_address_bn}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">গ্রামের নাম<span
                                                            class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{user_data.permanent_area_village_bn}}</span>
                                                </div>
                                            </div>

                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">পোস্ট অফিস <span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{user_data.permanent_post_office.name_bn}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">উপজেলা নাম <span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7">
                                                    <span>{{user_data.permanent_thana.name_bn}}</span>
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col-sm-3 col-5">
                                                    <h5 class="f-w-500">জেলার নাম <span class="pull-right">:</span>
                                                    </h5>
                                                </div>
                                                <div class="col-sm-9 col-7"><span>{{user_data.permanent_district.name_bn}}</span>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                    <div id="family-info" class="tab-pane fade text-center">
                                        <h3 class="p-4">No inheritance and family information </h3>
                                    </div>
                                    <div id="income-info" class="tab-pane fade text-center">
                                        <h3 class="p-4">No income info</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="replyModal">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Post Reply</h5>
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span>&times;</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <textarea class="form-control" rows="4">Message</textarea>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger light" data-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="button" class="btn btn-primary">Reply</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}